@import '../../styles/variables';
$largeFont: 60px;
$medFont: 40px;
$smallFont: 30px;
$innerStarDiff: 12px;
:host {
  margin: 20px auto;
  margin-bottom: 0;
  display: block;
  font-size: $largeFont;
  unicode-bidi: bidi-override;
  direction: rtl;
  width: 6.3em;
  height: 1.3em;
  input {
    position: absolute;
    left: -999999px;
    &:focus + label .star {
      background-color: $formFocus;
      text-shadow: 0px 0px 7px $formFocus;
    }
  }
  label {
    display: inline-block;
    font-size: 0;
    .star {
      position: relative;
      font: $largeFont/1 FontAwesome;
      display: block;
      color: #ccc;
      height: 1.5em;
      background-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      &:before {
        position: absolute;
        top: 0;
        right: $innerStarDiff / 2;
        bottom: 0;
        left: 0;
        margin: auto;

        font: ($largeFont - $innerStarDiff)/1 FontAwesome;
        display: block;
        content: "★";
        color: #ccc;
        height: 1.5em;
        $defaultColor: #c5c5c5;
        background-color: $defaultColor;
        text-shadow: 0px 0px 0px $defaultColor;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &.selected .star:before,
    &.selected ~ label .star:before {
      $selectedColor: #ffb500;
      background-color: $selectedColor;
      text-shadow: 0px 0px 0px $selectedColor;
    }
  }
  @media (min-width: 381px) and (max-width: 600px) {
    font-size: $medFont;
    label .star {
      font-size: $medFont;
      &:before {
        font: ($medFont - $innerStarDiff)/1 FontAwesome;
      }
    }
  }
  @media (max-width: 380px) {
    font-size: $smallFont;
    label .star {
      font-size: $smallFont;
      &:before {
        font: ($smallFont - 8px)/1 FontAwesome;
        top: 2px;
        right: 4px;
      }
    }
  }
}
