<template ngFor let-rating [ngForOf]="ratings">
  <input
    (change)="onChange(rating)"
    [attr.id]="field.id + '-' + rating"
    [attr.name]="field.id"
    type="radio"
    value="{{rating}}"
    [attr.tabindex]="tabIndex ? tabIndex : null"
    title="{{rating}} stars">
  <label
    [ngClass]="{'selected': rating === displayValue}"
    [attr.for]="field.id + '-' + rating"
    class="noselect">
    <span
      (mouseenter)="onMouseenter(rating)"
      (mouseout)="onMouseout(rating)"
      class="star"
      aria-label="star rating of">★</span>
    <span class="label-text">{{rating}} out of {{maxRating}}</span>
  </label>
</template>