// https://codepen.io/Bluetidepro/pen/GkpEa
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 36px;
  width: 124px;
  position: relative;
  padding: 0;
  z-index: -1;
  &-top {
    color: #ffb500;
    padding: 0;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &-bottom {
    padding: 0;
    display: block;
  }
  .label {
    position: absolute;
    left: -1000%;
  }
}