<div class="home-container">
  <div class="header">
    <div class="overlay"></div>
    <h1 class="headline">Find and review resturants near you</h1>
    <app-cropped-image
    [src]="'assets/header.jpg'"
    class="header-image"></app-cropped-image>
  </div>
  <div class="filter">
    <div class="input-item search">
      <input #search type="text" tabindex="10" placeholder="">
      <i class="ion-ios-search-strong"></i>
      <button tabindex="10"   class="filter-toggle btn" [ngClass]="{'ion-plus': isCollapsed, 'ion-minus': !isCollapsed}" (click)="isCollapsed = !isCollapsed"></button>
    </div>
    <div [ngClass]="{'not-collapsed': !isCollapsed}" class="mobile-collapse">
      <div class="input-item">
        <select
          aria-label="Select a cuusine filter"
          tabindex="10">
          <option selected value="all">All cuisines</option>
          <option *ngFor="let cuisine of places.cuisineTypes" value="{{cuisine}}">{{cuisine}}</option>
        </select>
      </div>
      <div class="input-item">
        <select
          aria-label="Select an ethnicity filter"
          tabindex="10">
          <option selected value="all">All ethnicities</option>
          <option *ngFor="let ethnicity of places.ethnicities" value="{{ethnicity}}">{{ethnicity}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="restaurants">
    <div *ngFor="let placeId of places.places" class="restaurant">
      <app-cropped-image
        [src]="places.placesMeta[placeId].photo"
        class="restaurant-image"></app-cropped-image>
      <div class="restaurant-meta">
        <div class="meta-group">
          <div class="restaurant-name">
            <a  tabindex="10" href="#">{{places.placesMeta[placeId].name}}</a>
          </div>
          <div class="restaurant-phone">
            {{places.placesMeta[placeId].phone}}
          </div>
        </div>
        <div class="meta-group">
          <div class="restaurant-address">
            {{places.placesMeta[placeId].vicinity}}
          </div>
          <div class="restaurant-website">
            <a tabindex="10" href="{{places.placesMeta[placeId].website}}" target="_blank">Website</a>
          </div>
        </div>
        <div class="restaurant-hours-container meta-group">
          <div *ngFor="let hoursString of places.placesMeta[placeId].hours" class="restaurant-hours">
            {{hoursString}}
          </div>
        </div>
      </div>
      <div class="restaurant-details">
        <div class="restaurant-details-content">
          <app-star-view
            [percentage]="(places.placesMeta[placeId].rating / 5) * 100"
            class="restaurant-rating"></app-star-view>
          <div class="restaurant-types">
            {{places.placesMeta[placeId].types}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>