@import '../styles/variables';
.home-container {
  
  .slider {

  }
  .filter {

  }
  .restaurants {
    .restaurant {
      width: 100%;
      display: block;
      padding: 20px 5%;
      border-top: 1px solid lightgray;
      .restaurant-image {
        max-height: 180px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      .restaurant-meta {
        padding: 0 10px;
      }
      .restaurant-details {
        padding: 0 10px;
      }
    }
  }
}