@import '../styles/variables';
$filterHeight: 55px;
$smallBreakPoint: 480px;
.home-container {
  .header {
    width: 100%;
    height: 300px;
    position: relative;
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(45, 45, 45, 0.5);
      z-index: 1;
    }
    .headline {
      position: absolute;
      bottom: 26%;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 33px;
      color: white;
      z-index: 2;
    }
    .header-image {
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
  .filter {
    padding: 0px 5%;
    background-color: $primaryColor;
    color: white;
    height: $filterHeight;
    @media (max-width: 767px) {
      height: auto;
      padding: 0;
    }
    .filter-toggle {
      color: white;
      background-color: transparent;
      &:focus {
        outline: $whiteOutline;
      }
      @media (min-width: 768px) {
        display: none;
      }
    }
    @media (max-width: 767px) {
      .mobile-collapse {
        border-top: 1px solid white;
      }
    }
    .input-item {
      font-size: 18px;
      float: left;
      &:last-of-type {
        margin-right: 0;
      }
      @media (min-width: 890px) and (max-width: 1060px) {
        margin-right: 6%;
      }
      @media (min-width: 1061px) {
        margin-right: 10%;
      }
      select {
        &:focus {
          outline: $whiteOutline;
        }
      }
      &.search {
        width: 500px;
        min-width: 200px;
        position: relative;
        i {
          position: absolute;
          top: 17px;
          left: 31px;
        }
        input {
          border-radius: 25px;
          padding: 6px 10px 6px 40px;
          border: none;
          outline: none;
          width: 100%;
          background-color: #f77;
          line-height: 1;
          font-size: 18px;
          margin: 11px 0;
          color: white;
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: white;
          }
          &:focus {
            background-color: white;
            color: gray;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: gray;
            }
            & + i {
              color: gray;
            }
          }
        }
      }
      @media (max-width: 1400px) {
        &.search {
          width: 18%;
        }
        padding: 0px 20px;
      }
      @media (min-width: 768px) and (max-width: 1400px) {
        &.search {
          width: 35%;
        }
      }
      @media (max-width: 767px) {
        width: 100%;
        border-bottom: 1px solid white;
        float: initial;
        padding: 0;
        &.search {
          border-bottom: none;
          width: 90%;
          margin-left: auto;
          margin-right: auto;
          i {
            left: 12px;
          }
          input {
            width: 82%;
          }
        }
        select {
          box-sizing: content-box;
          margin: 10px auto;
          width: 94%;
          padding-left: 2%;
          padding-right: 2%;
        }
      }
    }
    input {
      padding: 10px;
      color: gray;
    }
  }
  .restaurants {
    $imageSize: 220px;
    .restaurant {
      width: 100%;
      display: block;
      position: relative;
      padding: 20px 10%;
      @media (min-width: 768px) {
       padding-left: 30%;
      }
      border-top: 1px solid lightgray;
      color: gray;
      min-height: 312px;
      .restaurant-image {
        width: $imageSize;
        height: $imageSize;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10%;
        cursor: pointer;
        margin: auto;
        border-radius: 50%;
        overflow: hidden;
        @media (max-width: $smallBreakPoint) {
          position: static;
          $width: 50%;
          width: $width;
          height: 0;
          padding-bottom: $width;
        }
        @media (min-width: $smallBreakPoint + 1px) and (max-width: 630px) {
          $width: 35%;
          width: $width;
          height: 0;
          padding-bottom: $width;
        }
        @media (min-width: 631px) and (max-width: 767px) {
          left: 6%;
          width: 250px;
          height: 250px; 
        }
      }
      $contentLeftMobile: 50%;
      .restaurant-meta {
        padding: 0 10px;
        padding-top: 50px;
        @media (max-width: $smallBreakPoint) {
          padding-top: 20px;
        }
        @media (min-width: $smallBreakPoint + 1px) and (max-width: 767px) {
          margin-left: $contentLeftMobile;
        } 
        .restaurant-name {
          font-size: 18px;
        }
        .meta-group {
          padding-bottom: 20px;
        }
        .restaurant-hours {
          margin-top: 0;
          margin-bottom: 0;
          padding-left: 0; 
          list-style: none;
        }
      }
      .restaurant-details {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        margin-right: 10%;
        width: 150px;
        padding: 0 10px;
        padding-bottom: 30px;
        // https://css-tricks.com/centering-in-the-unknown/
        display: table;
        &-content {
          display: table-cell;
          vertical-align: middle;
        }
        @media (max-width: $smallBreakPoint) {
          position: static;
          margin-left: initial;
        }
        @media (min-width: $smallBreakPoint + 1px) and (max-width: 767px) {
          position: static;
          margin-left: $contentLeftMobile;
        }
      }
      $extraPadding: 40px;
      @media (min-width: 768px) and (max-width: 1000px) {
        $sides: 4%;
        padding-left: calc(#{$sides} + #{$imageSize + $extraPadding});
        .restaurant-image {
          left: $sides;
        }
        .restaurant-details {
          margin-right: $sides;
        }
      }
      @media (min-width: 1001px) and (max-width: 1200px) {
        $sides: 6%;
        padding-left: calc(#{$sides} + #{$imageSize + $extraPadding});
        .restaurant-image {
          left: $sides;
        }
        .restaurant-details {
          margin-right: $sides;
        }
      }
    }
    .no-results {
      text-align: center;
      height: 300px;
      margin-top: 100px;
      font-size: 20px;
    }
  }
}

// default select styling
select {
  $selectColor: #e6e6e6;
  color: white;
  display: block;
  font-size: 18px;
  border: none;
  box-shadow: none;
  $selectMargin: 5px;
  height: $filterHeight - ($selectMargin * 2);
  margin: $selectMargin;
  padding: 0 10px;
  width: 160px;
  min-width: 100px;
  background-color: transparent;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: 98% 50%;
  background-repeat: no-repeat;
  background-image: url('assets/ios-down-arrow.svg');
  background-size: 30px;
  cursor: pointer;
  &::-ms-expand{
    display:none;
  }
  .default-select {
    display: none;
  }
  .hide-option {
    display: none;
  }
}