<div class="home-container">
  <div class="slider">

  </div>
  <div class="filter">
    <input type="text">
    <select
      aria-label="Select a cuusine filter"
      tabindex="10">
      <option class="default-select" disabled selected value>select a cuisine</option>
      <option *ngFor="let cuisine of places.cuisineTypes" value="{{cuisine}}">{{cuisine}}</option>
    </select>
    <select
      aria-label="Select an ethnicity filter"
      tabindex="10">
      <option class="default-select" disabled selected value>select an ethnicity</option>
      <option *ngFor="let ethnicity of places.ethnicities" value="{{ethnicity}}">{{ethnicity}}</option>
    </select>
  </div>
  <div class="restaurants">
    <div *ngFor="let placeId of places.places" class="restaurant container-fluid">
      <div class="restaurant-image col-xs-4">
        <img src="{{places.placesMeta[placeId].photo}}" />
      </div>
      <div class="restaurant-meta col-xs-5">
        <div class="meta-group">
          <div class="restaurant-name">
            <a href="#">{{places.placesMeta[placeId].name}}</a>
          </div>
          <div class="restaurant-phone">
            {{places.placesMeta[placeId].phone}}
          </div>
        </div>
        <div class="meta-group">
          <div class="restaurant-address">
            {{places.placesMeta[placeId].vicinity}}
          </div>
          <div class="restaurant-website">
            <a href="{{places.placesMeta[placeId].website}}" target="_blank">Website</a>
          </div>
        </div>
        <div class="restaurant-hours-container meta-group">
          <div *ngFor="let hoursString of places.placesMeta[placeId].hours" class="restaurant-hours">
            {{hoursString}}
          </div>
        </div>
      </div>
      <div class="restaurant-details col-xs-3">
        <div class="restaurant-details-content">
          <app-star-view
            [percentage]="(places.placesMeta[placeId].rating / 5) * 100"
            class="restaurant-rating"></app-star-view>
          <div class="restaurant-types">
            {{places.placesMeta[placeId].types}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>