<div class="header container">
  <app-cropped-image
    [src]="places.placesMeta[restaurantId]?.photo"
    class="image"></app-cropped-image>
  <div class="restaurant-meta">
    <app-star-view
      [percentage]="(places.placesMeta[restaurantId]?.rating / 5) * 100"
      class="rating"></app-star-view>
    <div class="meta-item">{{places.placesMeta[restaurantId]?.name}}</div>
    <div class="meta-item">{{places.placesMeta[restaurantId]?.phone}}</div>
    <div class="meta-item">{{places.placesMeta[restaurantId]?.vicinity}}</div>
    <div class="meta-item">
      <a tabindex="10" href="{{places.placesMeta[restaurantId]?.website}}" target="_blank">Website</a>
    </div>
    <div class="meta-item">
      <div *ngFor="let hoursString of places.placesMeta[restaurantId]?.hours" class="restaurant-hours">
        {{hoursString}}
      </div>
    </div>
    <div class="meta-item">{{places.placesMeta[restaurantId]?.types}}</div>
  </div>
</div>
<div class="reviews container">
  <h2>reviews</h2>
  <div [ngClass]="{'open': showMore}" class="review-drawer">
    <div
      *ngFor="let review of places.placesMeta[restaurantId]?.reviews"
      class="review">
      <app-star-view
        [percentage]="(review.rating / 5) * 100"
        class="meta-item rating"></app-star-view>
      <div class="review-text">"{{review.text}}"</div>
      <div class="review-author">{{review.author_name}}</div>
      <div class="review-date">{{review.time | amFromUnix | amDateFormat:'M/D/YY'}}</div>
    </div>
  </div>
  
  <button
    (click)="showMore = true"
    [ngClass]="{'hidden': showMore}"
    class="read-more btn ion-ios-arrow-down" tabindex="10">read more</button>
</div>
<div class="leave-a-review">
  <app-form
    [allFormInfo]="formInfo"
    [modeInit]="'review'"
    [tabIndex]="10"
    (formComplete)="onSubmit($event)"
    class="form"></app-form>
</div>