@import '../styles/variables';
.header {
  padding-top: 50px;
  .image {
    float: left;
    width: 40%;
    height: 0;
    padding-bottom: 50%;
  }
  .restaurant-meta {
    float: left;
    padding: 20px;
    padding-top: 0;
    width: 60%;
    .meta-item {
      padding: 5px;
    }
  }
}
.reviews {
  position: relative;
  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-shadow: rgba(0, 0, 0, 0.95) 0px 0px 10px;
    height: 100px;
  }
  padding-top: 40px;
  h2 {
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
    border-bottom: solid $lightGray 1px;
  }
  .review-drawer {
    height: 411px;
    overflow: hidden;
    position: relative;
    &.open {
      height: initial;
    }
    // http://jsfiddle.net/6k3vV/621/
    .fadeout {
      position: absolute;
      bottom: 0;
      height: 10em;
      width: 100%;
      background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 40%,
        rgba(255, 255, 255, 0.9) 100%);
    }
  }
  .review {
    border-bottom: solid 1px $lightGray;
    padding: 20px 0;
  }
  .read-more {
    margin: 10px auto;
    display: block;
    font-size: 18px;
    position: relative;
    background-color: transparent;
    &:before {
      position: absolute;
      bottom: -15px;
      left: -1px;
      right: 0;
      font-size: 25px;
      width: calc(100% + 2px);
    }
  }
}
.leave-a-review {
  padding: 6% 10%;
  margin-top: 50px;
  .thank-you {
    text-align: center;
    padding-bottom: 150px;
  }
}