<div class="header container">
  <app-cropped-image
    [src]="places.placesMeta[restaurantId]?.photo"
    class="image"></app-cropped-image>
  <div class="restaurant-meta">
    <app-star-view
      *ngIf="places.placesMeta[restaurantId]?.rating"
      [percentage]="(places.placesMeta[restaurantId]?.rating / 5) * 100"
      [ratingFor]="places.placesMeta[restaurantId]?.name + ' restaurant'"
      class="rating"></app-star-view>
    <h1 class="meta-item title">{{places.placesMeta[restaurantId]?.name}}</h1>
    <div
      class="meta-item"
      *ngIf="places.placesMeta[restaurantId]?.phone">
      <a
        [attr.aria-label]="'phone number: ' + places.placesMeta[restaurantId]?.phone"
        href="tel:1{{places.placesMeta[restaurantId]?.phone | appPhone}}">{{places.placesMeta[restaurantId]?.phone}}</a>
    </div>
    <div
      [attr.aria-label]="'Restaurant address: ' + places.placesMeta[restaurantId]?.vicinity"
      class="meta-item">{{places.placesMeta[restaurantId]?.vicinity}}</div>
    <div *ngIf="places.placesMeta[restaurantId]?.website" class="meta-item">
      <a href="{{places.placesMeta[restaurantId]?.website}}" target="_blank">Website</a>
    </div>
    <ul aria-label="Restaurant hours" class="meta-item restaurant-hours">
      <li *ngFor="let hoursString of places.placesMeta[restaurantId]?.hours">
        {{hoursString}}
      </li>
    </ul>
    <div
      [attr.aria-label]="'Categories: ' + places.placesMeta[restaurantId]?.types"
      class="meta-item">{{places.placesMeta[restaurantId]?.types}}</div>
    <button
      pageScroll
      [pageScrollDuration]="700"
      title="This button will move you to a form to leave a review"
      (click)="reviewForm.setFocus(800)"
      href="#reviewForm"
      class="leave-review btn">Leave a review</button>
  </div>
</div>
<div class="reviews container">
  <h1 class="title">reviews</h1>
  <div [ngClass]="{'open': showMore}" class="review-drawer">
    <div
      *ngFor="let review of places.placesMeta[restaurantId]?.reviews"
      class="review">
      <app-star-view
        [percentage]="(review.rating / 5) * 100"
        class="meta-item rating"></app-star-view>
      <div class="review-text">"{{review.text}}"</div>
      <div class="review-author">{{review.author_name}}</div>
      <div class="review-date">{{review.time | amFromUnix | amDateFormat:'M/D/YY'}}</div>
    </div>
    <div [ngClass]="{'fadeout': !showMore}"></div>
  </div>
  <button
    (click)="showMore = true"
    [ngClass]="{'hidden': showMore}"
    class="read-more btn ion-ios-arrow-down">read more</button>
</div>
<div class="leave-a-review">
  <app-form
    *ngIf="!reviewSubmitted"
    #reviewForm
    [allFormInfo]="formInfo"
    (formComplete)="places.addReview(restaurantId, $event); reviewSubmitted = true;"
    id="reviewForm"
    class="form"></app-form>
  <div *ngIf="reviewSubmitted">
    <h2 class="thank-you">Thank you for your review</h2>
  </div>
</div>