@import '../../styles/variables';
.navbar {
	background-color: $primaryColor;
	border: none;
	border-radius: 0;
	height: $navHeight;
	margin-bottom: 0;
	z-index: 1;
	a {
		cursor: pointer;
	}
	.darker {
		@media (max-width: 767px) {
			background-color: rgba(45, 45, 45, 0.6);
			background: linear-gradient(rgba(45, 45, 45, 0.6), rgba(45, 45, 45, 1));
		}
	}
	.skip-nav {
		position: absolute;
		left: -1000%;
		&:focus {
			position: fixed;
			top: 2px;
			left: 2px;
			z-index: 99999;
			padding: 10px;
			font-size: 20px;
			height: $navHeight - 4px;
			color: white;
			background-color: $primaryColor;
		}
	}
	&:not(.transparent) .skip-nav:focus {
		outline: $whiteOutline;
	}
	&.transparent {
		background-color: transparent;
		position: absolute;
		left: 0;
		right: 0;
		z-index: 3;
		.skip-nav {
			background-color: white;
			color: black;
		}
	}
	&.navbar-default {
		.navbar-brand, .navbar-nav > li > a {
			color: white;
			margin: 5px 0;
			@media (max-width: 767px) {
				margin: 15px;
			}
			&:focus {
				outline: $whiteOutline;
			}
		}
		.navbar-nav {
			margin: 0;
			@media (max-width: 767px) {
				li {
					border-top: 1px solid white;
					&:last-of-type {
						border-bottom: 1px solid white;
					}
				}
			}
		}
		.navbar-brand {
			padding: 12px 15px;
			padding-top: 4px;
			font-size: 35px;
			@media (max-width: 767px) {
				padding: 0px 12px;
				padding-top: 5px;
				font-size: 42px;
				margin: 8px;
				margin-top: 5px;
				height: 51px;
			}
		}
	}
	.navbar-pull-right {
		float: right;
	}
	// Nav collapse button
	.navbar-toggle {
		border: none;
		&:focus {
			outline: $whiteOutline;
		}
		.icon-bar {
			background-color: white;
		}
		&:hover {
			background-color: initial;
		}
		&:focus {
			background-color: initial;
		}
		@media (max-width: 768px) {
			margin-top: 14px;
		}
	}
}
@media (max-width: 767px) {
  .mobile-collapse {
		text-align: center;
  }
}
#start-of-content {
	position: absolute;
	left: -1000%;
}

.external-link {
  position: relative;
  padding: 15px;
  padding-right: 33px;
  .ion-share {
    font-size: 23px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 12px;
    height: 25px;
  }
}