<nav
	id="navbar"
	[ngClass]="{'transparent': homePage}"
	class="navbar navbar-default">
	<div [ngClass]="{'darker': !isCollapsed}">
		<button (click)="skipNavigation()" tabindex="1" class="skip-nav btn">Skip to main content</button>
		<div class="navbar-header">
			<a
				aria-label="Home"
				[routerLink]="['/']"
				tabindex="5"
				class="navbar-brand ion-fork">
			</a>
			<button
				type="button"
				class="navbar-toggle"
				(click)="isCollapsed = !isCollapsed"
				aria-label="Toggle navigation options"
				tabindex="5">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div [ngClass]="{'not-collapsed': !isCollapsed}" class="mobile-collapse" >
			<ul class="nav navbar-nav">
        <li role="menuitem">
					<a
						pageScroll
						[routerLink]="['/']"
						tabindex="5"
						href="#app-restaurants">Restaurants</a>
        </li>
				<li role="menuitem">
					<a
						tabindex="5"
						href="https://github.com/adriancarriger">Github</a>
        </li>
			</ul>
		</div>
	</div>
</nav>
<div
	#startOfContent
	id="start-of-content"
	(blur)="startContentBlur()"
	aria-label="You have skipped to the main content"
	tabindex="{{startContentIndex}}"></div>
