<nav
	id="navbar"
	[ngClass]="{'transparent': homePage}"
	class="navbar navbar-default">
	<div [ngClass]="{'darker': !isCollapsed}">
		<button
			(click)="skipNavigation()"
			[attr.tabindex]="tabIndex ? 1 : null"
			class="skip-nav btn">Skip to main content</button>
		<div class="navbar-header">
			<a
				aria-label="Home"
				[attr.tabindex]="tabIndex ? tabIndex : null"
				[routerLink]="['/']"
				class="navbar-brand ion-fork">
			</a>
			<button
				type="button"
				class="navbar-toggle"
				(click)="isCollapsed = !isCollapsed"
				[attr.aria-label]="(isCollapsed ? 'Show' : 'Hide') + ' additional navigation options'">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div [ngClass]="{'not-collapsed': !isCollapsed}" class="mobile-collapse" >
			<ul class="nav navbar-nav">
        <li role="menuitem">
					<a
						pageScroll
						[attr.tabindex]="tabIndex ? tabIndex : null"
						[routerLink]="['/']"
						href="#app-restaurants">Restaurants</a>
        </li>
				<li role="menuitem">
					<a
						[attr.tabindex]="tabIndex ? tabIndex : null"
						href="https://github.com/adriancarriger"
						class="external-link">Github <i aria-hidden="true" class="ion-share"></i></a>
        </li>
			</ul>
		</div>
	</div>
</nav>
<div
	#startOfContent
	id="start-of-content"
	(blur)="startContentBlur()"
	[attr.aria-label]="skipLabel"
	[attr.tabindex]="startContentIndex"></div>
