@import '../../styles/variables';
$darkerOverlay: rgba(45, 45, 45, 0.6);
.navbar {
	background-color: transparent;
	border: none;
	border-radius: 0;
	height: $navHeight;
	margin-bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 3;
	&.darker {
		@media (max-width: 768px) {
			background-color: $darkerOverlay;
		}
		
	}
	a {
		cursor: pointer;
	}
	&.navbar-default {
		.navbar-brand, .navbar-nav > li > a {
			color: white;
			margin: 5px 0;
		}
		.navbar-nav {
			margin: 0;
			li {
				border-top: 1px solid white;
				&:last-of-type {
					border-bottom: 1px solid white;
				}
			}
		}
		.navbar-brand {
			padding: 12px 15px;
			padding-top: 4px;
			font-size: 35px;
		}
	}
	.navbar-pull-right {
		float: right;
	}
	// Nav collapse button
	.navbar-toggle {
		border: none;
		&:focus {
			outline: initial;
			outline-color: -webkit-focus-ring-color;
			outline-style: auto;
			outline-width: initial;
		}
		.icon-bar {
			background-color: white;
		}
		&:hover {
			background-color: initial;
		}
		&:focus {
			background-color: initial;
		}
		@media (max-width: 768px) {
			margin-top: 14px;
		}
	}
}
@media (max-width: 768px) {
  .mobile-collapse {
		background-color: $darkerOverlay;
		text-align: center;
  }
}
