@import './styles/variables';
$defaultFooterHeight: 40px;
html, body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
  .content-container {
    display: block;
    padding-bottom: $defaultFooterHeight + 20px;
    h1, h2, h3, h4, h5, h6 {
      font-weight: 200;
    }
    @media (max-width: 500px) {
      padding-bottom: $defaultFooterHeight + 20px + 130px;
    }
  }
  app-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
}

// Collapse for mobile
.mobile-collapse {
  @media (max-width: 767px) {
    display: none;
    &.not-collapsed {
      display: block;
    }
  }
}

// Forms
.form form {
  
  .instructions {
    font-size: 30px;
    padding-bottom: 0;
  }
  .submit.btn[disabled] {
    opacity: 0.2;
  }
}

// Focus outline :default
input, textarea, select, button, a, a:active, a:hover, a:focus,
// Bootstrap
.btn, .btn:active .btn.active.focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline-color: $formFocus;
}