@import './styles/variables';
$defaultFooterHeight: 40px;
html, body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
  .content-container {
    display: block;
    padding-bottom: $defaultFooterHeight + 20px;
    @media (max-width: 500px) {
      padding-bottom: $defaultFooterHeight + 20px + 170px;
    }
  }
  app-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
}

// Collapse for mobile
.mobile-collapse {
  @media (max-width: 767px) {
    display: none;
    &.not-collapsed {
      display: block;
    }
  }
}

// Forms
.form form {
  background-color: $formColor;
  .input-item {
    input, select, textarea, label {
      color: white;
      background-color: $formColor;
      border-color: white;
      border-width: 3px;
      &:focus {
        outline: none;
        border-color: $formFocus;
      }
    }
    .error-message {
      background-color: $formFocus;
      color: white;
    }
  }
  button {
    border-color: white;
    border-width: 3px;
    &:active {
      color: $formColor;
      background-color: white;
    }
    &:focus {
      outline: none;
      border-color: $formFocus;
    }
  }
}