<input
  id="{{field.id}}"
  [attr.type]="type"
  [formControl]="control"
  [ngClass]="{'hidden-input':field.inputType === 'file'}"
  (input)="field.length = onInput($event, field.type);"
  (focus)="field.focused = true;"
  (blur)="field.focused = false; onBlur($event)"
  [attr.tabindex]="tabIndex ? tabIndex : null"
  [attr.required]="field.required ? true :  null"
  [attr.autocomplete]="field.autocomplete ? field.autocomplete : null"
  [attr.aria-label]="field.ariaLabel.length > 0 ? field.ariaLabel : null"
  [attr.aria-invalid]="showFieldErrors"
  [attr.aria-autocomplete]="field.addListener === 'location' ? 'both': null"
  [attr.role]="field.addListener === 'location' ? 'combobox': null"
  [attr.aria-describedby]="showFieldErrors ? 'error-description-' + field.id : null"
  placeholder="">