<div class="home-container">
  <header class="header">
    <div class="overlay"></div>
    <h1 class="headline">Find and review restaurants near you</h1>
    <app-cropped-image
    [src]="'assets/header.jpg'"
    [alt]="'Image of restaurant with tables set without people'"
    class="header-image"></app-cropped-image>
  </header>
  <div id="app-restaurants" class="filter" appStickyScroll>
    <div class="input-item search">
      <input
        #searchInput
        (input)="termSearch = searchInput.value"
        aria-label="Search through local restaurants"
        type="text"
        placeholder="">
      <i aria-hidden="true" class="ion-ios-search-strong"></i>
      <button class="filter-toggle btn" [ngClass]="{'ion-plus': isCollapsed, 'ion-minus': !isCollapsed}" (click)="isCollapsed = !isCollapsed"></button>
    </div>
    <div [ngClass]="{'not-collapsed': !isCollapsed}" class="mobile-collapse">
      <div class="input-item">
        <select
          #typeInput
          (change)="typeSearch = typeInput.value"
          title="Filter restaurants by food type"
          aria-label="Filter restaurants by food type">
          <option
            aria-label="All types of restaurants"
            selected
            value="all">All types</option>
          <optgroup label="Cuisine">
            <option *ngFor="let cuisine of places.cuisineTypes" value="{{cuisine}}">{{cuisine}}</option>
          </optgroup>
          <optgroup label="Culture">
            <option *ngFor="let ethnicity of places.ethnicities" value="{{ethnicity}}">{{ethnicity}}</option>
          </optgroup>
        </select>
      </div>
      <div class="input-item">
        <select
          #locationInput
          (change)="locationSearch = locationInput.value"
          title="Filter restaurants by location"
          aria-label="Select a location filter">
          <option
            aria-label="All restaurant locations"
            selected
            value="all">All locations</option>
          <option *ngFor="let location of places.locations"  value="{{location}}">{{location}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="restaurants">
    <div
      *ngFor="let placeId of places.places | appSearch:places.placesMeta:termSearch:typeSearch:locationSearch:filteredMeta:places.lastUpdated | paginate: config"
      class="restaurant">
      <app-cropped-image
        [src]="places.placesMeta[placeId].photo"
        [routerLink]="['/restaurant', placeId]"
        class="restaurant-image"></app-cropped-image>
      <div class="restaurant-meta">
        <div class="meta-group">
          <div class="restaurant-name">
            <a [routerLink]="['/restaurant', placeId]" href="#">{{places.placesMeta[placeId].name}}</a>
          </div>
          <div
            class="restaurant-phone"
            *ngIf="places.placesMeta[placeId]?.phone">
            <a
              [attr.aria-label]="'phone number: ' + places.placesMeta[placeId]?.phone"
              href="tel:1{{places.placesMeta[placeId]?.phone | appPhone}}">{{places.placesMeta[placeId]?.phone}}</a>
          </div>
        </div>
        <div class="meta-group">
          <div
            [attr.aria-label]="'Restaurant address: ' + places.placesMeta[placeId]?.vicinity"
            class="restaurant-address">{{places.placesMeta[placeId]?.vicinity}}</div>
          <div *ngIf="places.placesMeta[placeId].website" class="restaurant-website">
            <a
              title="external website for {{places.placesMeta[placeId].name}}"
              href="{{places.placesMeta[placeId].website}}"
              target="_blank">Website</a>
          </div>
        </div>
        <ul aria-label="Restaurant hours" class="restaurant-hours meta-group">
          <li
            *ngFor="let hoursString of places.placesMeta[placeId]?.hours"
            class="restaurant-hours">
            {{hoursString}}
          </li>
        </ul>
      </div>
      <div class="restaurant-details">
        <div class="restaurant-details-content">
          <app-star-view
            [percentage]="(places.placesMeta[placeId].rating / 5) * 100"
            class="restaurant-rating"></app-star-view>
          <div
            [attr.aria-label]="'Restaurant types: ' + places.placesMeta[placeId]?.types"
            class="restaurant-types">{{places.placesMeta[placeId]?.types}}</div>
        </div>
      </div>
    </div>
    <div *ngIf="places.places !== undefined && filteredMeta?.count === 0" class="no-results">
        No matches for {{filteredMeta.query}}
    </div>
    <app-pagination (pageChange)="config.currentPage = $event" [config]="config"></app-pagination>
  </div>
</div>