@import '../../styles/variables';
.footer {
  background-color: #696969;
  .links {
    text-align: center;
    margin: 0;
    li {
      display: inline-block;
      margin: 20px;
      a, a:hover {
        color: white;
        padding: 15px;
        &.external-link {
          position: relative;
          .ion-share {
            font-size: 23px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            right: 12px;
            height: 32px;
          }
          @media (min-width: 501px) {
            padding-right: 36px;
            padding-top: 13px;
            padding-bottom: 13px;
            display: inline-block;
          }
        }
      }
      a {
        text-decoration: none;
        &:focus {
          outline: $whiteOutline;
        }
        &:active {
          text-decoration: none;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
    @media (max-width: 500px) {
      li {
        display: block;
        a, a:hover {
          display: block;
          &.external-link .ion-share {
            left: 90px;
            right: 0;
          }
        }
      }
      padding: 20px;
    }
  }
}