@import '../../styles/variables';
.footer {
  background-color: gray;
  .links {
    text-align: center;
    margin: 0;
    li {
      display: inline-block;
      margin: 20px;
      a, a:hover {
        color: white;
        padding: 5px;
        &.external-link {
          position: relative;
          padding: 15px;
          padding-right: 25px;
          display: inline-block;
          .ion-share {
            font-size: 23px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            right: 4px;
            height: 32px;
          }
        }
      }
      a {
        text-decoration: none;
        &:focus {
          outline: $whiteOutline;
        }
        &:active {
          text-decoration: none;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
    @media (max-width: 500px) {
      li {
        display: block;
      }
      padding: 20px;
    }
  }
}